//
//  KAKAO_NATIVE_APP_KEY.xcconfig
//  Starbucks
//
//  Created by 김도연 on 5/12/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_NATIVE_APP_KEY = 0e8b5fee9c8f3838d00231836fb10da6
